---
title: false
styles: true
---

$backgroundColour: #212121;
$codeBackgroundColour: #1d1b1b !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
$headingColour: #d2d8d6 !default;
$bodyColour: #cadad5 !default;
$linkColour: #05bf85 !default;
$hoverColour: #a4c4a4 !default;
$focusColour: #fa407a !default;
$captionColour: #d2d8d6 !default;
$white: #ffffff !default;
$footerColor: #424242 !default;
  
@import "alembic";
